[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell"]
# Whether to embed dependency information using cargo-auditable
cargo-auditable = true
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-unknown-linux-gnu"]
# Which actions to run on pull requests
pr-run-mode = "plan"
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether dist should create a Github Release or use an existing draft
create-release = false
# Whether to install an updater program
install-updater = true
# Whether to enable GitHub Attestations
github-attestations = true

[dist.github-custom-runners]
global = "ubuntu-latest"
