services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: password
    tmpfs: /var/lib/postgresql/data
    ports:
      - "5432:5432"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: test_db
    tmpfs: /var/lib/mysql
    ports:
      - "3306:3306"
